<%= render HeadingComponent.new(title: "Arthur the Armorer") %>

<div>
  Choose an account to get started

  <%= Account.find_each do |account| %>
    <%= button_to(
      account.nickname,
      choose_account_path(account),
      class: "Button"
    ) %>
  <% end %>
</div>
